/* Write your CSS code here */
.header-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  height: 30vh;
}
.wave-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
  list-style-type: none;
}
.logo-icon {
  height: 30px;
  width: 30px;
}
.wave-text {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: #12022f;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
